<!doctype html>
<html>
    <head>
    </head>
    <body>
        <header>
            <h3>RSS Feed Reader</h3>
        </header>
        <section>
            {% block content %}


            {% endblock %}
        </section>
        <footer>
        </footer>
    </body>
</html>
