{% extends "layout.twig"%} 

{% block content %}

    <form action="feed" method="get">
        <label for="url">RSS feed URL  </label>
        <input type="text" name="url" maxlength=150 size=40>
        <br></br>
        <div class="dropdown">
            <select name="feed">
                <option value="0">--Select input type--</option>
                <option value="1">XML</option>
                <option value="2">Atom XML</option>
            </select>
        </div>
        <br></br>
        <button type="submit" name="submit">Submit</button>
    </form>

{% endblock %}
