{% extends "layout.twig"%} 

{% block content %}

    <form action="feed" method="get">
        <label for="url">RSS feed URL  </label>
        <input type="text" name="url" maxlength=150 size=40>
        <br></br>
        <button type="submit" name="submit">Submit</button>
    </form>

{% endblock %}
